<section class="auth-container">
  <h2>Registro</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Usuário:</label>
      <input id="username" formControlName="username" />
      <div
        class="validation-error"
        *ngIf="
          registerForm.get('username')?.invalid &&
          registerForm.get('username')?.touched
        "
      >
        Usuário obrigatório (mínimo 3 caracteres).
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha:</label>
      <input id="password" type="password" formControlName="password" />
      <div
        class="validation-error"
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
      >
        Senha obrigatória (mínimo 6 caracteres).
      </div>
    </div>

    <div class="form-group">
      <label for="role">Role:</label>
      <select id="role" formControlName="role">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>

    <button type="submit" [disabled]="registerForm.invalid || loading">
      {{ loading ? "Registrando..." : "Registrar" }}
    </button>

    <p *ngIf="error" class="error-message">{{ error }}</p>
    <p *ngIf="success" class="success-message">{{ success }}</p>
  </form>

  <p class="redirect">
    Já possui conta?
    <a routerLink="/login">Faça login</a>
  </p>
</section>
